@charset "UTF-8";

div.container > nav {
	position : fixed;
	top : 0;
	right : calc(50px - 100%);
	z-index : 100;
	width : calc(100% - 50px);
	max-width : 640px;
	height : 100%;
	background-color: rgba(80, 80, 80, 1);
	overflow : hidden;
	transition : right 0.5s ease;
	}
	
div.container.opened > nav {
	right : 50px;
	}
	
@media (min-width : 1201px) {

	}
	
@media (min-width : 961px) and (max-width : 1200px) {

	}

@media (min-width : 721px) and (max-width : 960px) {

	}
		
@media (min-width : 481px) and (max-width : 720px) {
	
	}
	
@media (max-width : 480px) {

	}