@charset "UTF-8";

div.container > div.workspace > div > div.box > div.phone {
	position : absolute;
	bottom : 0;
	left : 0;
	z-index : 10;
	width : 100%;
	min-width : 270px;
	height : 50px;
	padding : 0 50px;
	background-color : rgba(255, 255, 255, 1);
	}
	
div.container > div.workspace > div > div.box > div.phone > a {
	position : relative;
	display : block;
	max-width : 170px;
	height : inherit;
	margin : 0 auto;
	font-size : 0.8em;
	line-height : 50px;
	text-decoration : none;
	white-space : nowrap;
	color : rgba(100, 100, 100, 1);
	transition : color .25s ease;
	}
	
div.container > div.workspace > div > div.box > div.phone > a:hover {
	color : rgba(0, 0, 0, 1);
	}

aside {
	width : 100%;
	min-width : 270px;
	padding : 1rem 0;
	}

aside > ul,
aside > ul > li > ul {
	width : 100%;
	padding : 0;
	margin : 0;
	list-style : none;
	}
	
aside > ul > li,	
aside > ul > li > ul > li,
aside > ul > li > div > p,
aside > ul > li > div > a {
	position : relative;
	font-size : 0.9em;
	line-height : 1.35em;
	}
	
aside > ul > li > a,
aside > ul > li > ul > li > a,
aside > ul > li > div,
aside > ul > li > ul > li > div {
	position : inherit;
	width : calc(170px + (100% - 170px)/2 + 50px);
	padding-left : 50px;
	padding-right : 50px;
	}
	
aside > ul > li > a,
aside > ul > li > ul > li > a {
	display : block;
	text-decoration : none;
	color : rgba(180, 180, 180, 1);
	transition : color .25s ease;	
	}
	
aside > ul > li > a > span,
aside > ul > li > ul > li > a > span,
aside > ul > li > div > span,
aside > ul > li > ul > li > div > span,
aside > ul > li > div > strong,
aside > ul > li > ul > li > div > strong,
aside > ul > li > div > p,
aside > ul > li > div > a {
	position : inherit;
	display : block;
	width : 170px;
	margin : 0 0 0 auto;
	}

aside > ul > li > strong,
aside > ul > li > a > span,
aside > ul > li > div > span,
aside > ul > li > div > strong,
aside > ul > li > div > p,
aside > ul > li > div > a {	
	padding-top : 13px;
	padding-bottom : 13px;
	}
	
aside > ul > li > a > span.icon::after,
aside > ul > li > div > span.icon::after {
	position : absolute;
	top : 15px;
	right : 100%;
	z-index : 1;
	width : 50px;
	height : 20px;
	content : "";
	background-repeat : no-repeat;
	background-size : contain;
	background-position : 50% 50%;
	}
	
aside > ul > li > a > span.icon.services::after,
aside > ul > li > div > span.icon.services::after {
	background-image : url("../img/services.svg?141120191231");
	}
	
aside > ul > li > a > span.icon.areas::after,
aside > ul > li > div > span.icon.areas::after {
	background-image : url("../img/areas.svg?141120191231");
	}
	
aside > ul > li > a > span.icon.brends::after,
aside > ul > li > div > span.icon.brends::after {
	background-image : url("../img/brends.svg?141120191231");
	}
	
aside > ul > li > a + span,
aside > ul > li > div + span {
	position : absolute;
    top : 0;
    left : calc(170px + (100% - 170px)/2);
    z-index : 10;
    width : 50px;
    height : 50px;
    border-radius : 50%;
    cursor : pointer;
	}
	
aside > ul > li > a + span::before,
aside > ul > li > a + span::after,
aside > ul > li > div + span::before,
aside > ul > li > div + span::after {
	position : absolute;
    top : calc(50% - 1px);
    z-index : 10;
    width : 10px;
    height : 2px;
    content : "";
    background-color : rgba(180, 180, 180, 1);
    transition : all .25s ease;
	}
	
aside > ul > li > a + span:hover::before,
aside > ul > li > a + span:hover::after,
aside > ul > li > div + span:hover::before,
aside > ul > li > div + span:hover::after {
	background-color : rgba(77, 72, 188, 1);
	}

aside > ul > li > a + span::before,
aside > ul > li > div + span::before {
   	right : 34px;
	}
	
aside > ul > li > a + span::after,
aside > ul > li > div + span::after {
	left : 0;
	}

aside > ul > li > a + span::after,	
aside > ul > li.selected > a + span::before,
aside > ul > li > div + span::after,	
aside > ul > li.selected > div + span::before {
    transform : rotate(-45deg);
	}

aside > ul > li > a + span::before,	
aside > ul > li.selected > a + span::after,
aside > ul > li > div + span::before,	
aside > ul > li.selected > div + span::after {
    transform : rotate(45deg);
	}
	
aside > ul > li > ul {
	height : 0;
	overflow : hidden;
	}
	
aside > ul > li.selected > ul {
	height : 100%;
	}
	
aside > ul > li > ul > li > a > span,
aside > ul > li > ul > li > div > span {
	padding-top : 9px;
	padding-bottom : 9px;
	padding-left : 0.5rem;
	}
	
aside > ul > li > div > a {
	border-radius : 5px;
	border : solid 2px rgba(77, 72, 188, 1);
	background-color : rgba(77, 72, 188, 0);
	color : rgba(77, 72, 188, 1);
	text-decoration : none;
	text-align : center;
	transition : all .25s ease;
	}
	
aside > ul > li > div > a:hover {
	background-color : rgba(77, 72, 188, 1);
	color : rgba(255, 255, 255, 1);
	}
	
@media (min-width : 1201px) {
	}
	
@media (min-width : 961px) and (max-width : 1200px) {
	}
	
@media (min-width : 721px) and (max-width : 960px) {
	}
	
@media (min-width : 481px) and (max-width : 720px) {
	}
	
@media (max-width : 480px) {
	}